.vscode/
build*/
__pycache__/
*.egg-info/
*.plt
*.dat
*.h5
*.log
*.nsys-rep
*.sqlite
*.xdmf
*.mod
*.o
*.vtk
bin/
obj/
solid_in.stl
tecsolid.plt
astr.code-workspace
parallel.info
report.bak
report.txt
benchmark/
workspace*
fort*
tests/gpu_validation/out/
